:root {
    --ff: 'Space Grotesk', sans-serif;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 600;

    --fs-main: 4.8rem;
    --fs-secondary: 1.8rem;
    --fs-logo: 2.4rem;
    --fs-header: 3.6rem


    
}

* {
    font-family: var(--ff);
    
    padding: 0;
    margin: 0;
}

::before, ::after {
    box-sizing: border-box;
}

body {


}

.wrapper {
    margin: 4em 12em;
}

/* nav */

header {
    display: flex;
    justify-content: space-between;
    
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
    
}

nav ul li {
    margin-left: 2em;
    
}

nav a, .logo a {
text-decoration: none;
color: black;

}

.logo {
    font-size: var(--fs-logo);
    font-weight: var(--fw-bold);
}

ul li {
    font-size: var(--fs-secondary);
    list-style-type: none;
}

/* hero */

main h1 {
    font-size: var(--fs-main);
}

main a {
    text-decoration: none;
}

main button {
    border: none;
    border-radius: 5em;
    padding: .7em 2em;
    font-size: var(--fs-logo);
    font-weight: var(--fw-bold);
    background-color: black;
}

.hero {
    margin-top: 6em;
    display: flex;
    justify-content: space-between;
    gap: 6em;
    
}

.left {
display: flex;
flex-direction: column;
align-content: space-between;
width: 50%;
margin-bottom: 3em;
}

.left p {
    font-size: var(--fs-secondary);
    margin-top:.5em;

}

.left button {
    margin-top: 1.2em;
    max-width: 60%;
}

.left button a {
color: white;


}

.right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fake {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: .1em;
    background-color: black;
    flex-grow: 1;
    padding: 12em 8em;
}

.img-fake p {
    color: white;
}

/* random info */

.random-info {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--fs-secondary);
    font-weight: var(--fw-bold);
}

.random-info div p {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;

}

.squares {
    display: flex;
    justify-content: space-between;
    font-weight: var(--fw-light);
    gap: 1em;
}

.square {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: .5em;
}

.square-solid {
    height: 14em;
    background-color: black;
    border-radius: .1em;

}

.subtext {
    text-align: center;
}

.quote {
    display: flex;
    
    justify-content: center;
    
    margin-top: 6em;
}

.inspiring-quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: .5em;
    width: 70%;
    font-size: var(--fs-header);
    font-weight: var(--fw-light);
}

.span {
    display: flex;
    justify-content: flex-end;
    font-weight: var(--fw-semi-bold);
}

.call-to-action {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 4em;
    border-radius: 1em;
    margin-top: 8em;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    
}

.cta-subtext {
    font-size: var(--fs-secondary);
    font-weight: var(--fw-regular);
}

.cta-subtext span {
    font-weight: var(--fw-bold);
    font-size: var(--fs-logo);
}

.cta button {
    border: none;
    background-color: white;
}

.cta button a {
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 12em;
    font-size: 1rem;
    font-weight: var(--fw-bold);
}