:root {
    //colours
    --primary-clr-dark: hsl(0, 0%, 0%);
    --primary-clr-light: hsl(0, 0%, 100%);

    //font styles
    --ff: 'Space Grotesk', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 600;

    
    --fs-sml: 1.125rem;
    --fs-reg: 1.5rem;
    --fs-lrg: 2.25rem;
    --fs-xlrg: 3rem;

}