.header { //desktop styles
    background-color: var(--primary-clr-dark);

    &.open { //hamburger open styles - menu open&close
        
        
        .header__toggle {

            
            > span:first-child {
                transform: rotate(45deg);
    
            }
    
            > span:nth-child(2) {
                opacity: 0;
            }
    
            > span:last-child {
                transform: rotate(-45deg);
            }
        }

    }


    &__hamburger { //hamburger menu icon
        
        
        > span {
            display: block;
            width: 24px;
            height: 2px;
            background-color: var(--primary-clr-light);
            //page refresh animation
            transition: all 300ms ease-in-out;
            transform-origin: 2.5px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__menu { //mobile navigation
        background-color: var(--primary-clr-dark);
        position: absolute;
        right: 0%;
        top: 0;
        margin-top: 6rem;
        
        > ul {
            flex-direction: column;
            

            > li {
                padding: 1rem;
                
                > a {
                    display: block;
                    color: var(--primary-clr-light);
                    
                    position: relative;

                    // links microinteractions

                    &::before {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 0%;
                        border-bottom: 2px solid var(--primary-clr-light);
                        bottom: -5px;
                        transition: width 100ms;
                        
                    }
            
                    &:active, &:focus {
                    
                        &::before {
                            width: 40%;
                        }
                    }

        
                }
            }
    
        }
    }

    
    &__nav {
        justify-content: space-between;
        align-items: center;

        a, li > a {
            color: var(--primary-clr-light);
            
        }
        
    }

    &__logo {
        cursor: pointer;
        font-size: var(--fs-lrg);
        font-weight: var(--fw-bold);
    }

    


    // desktop links
    &__links {
        & > li:not(:last-child) {
            margin-right: 3rem;
        }
        
        & > li > a {
            position: relative;

            // links microinteractions

            &::before {
                position: absolute;
                content: '';
                display: block;
                width: 0%;
                border-bottom: 2px solid var(--primary-clr-light);
                bottom: -5px;
                transition: width 300ms ease-in-out;
                
            }


            &:hover {
            
                &::before {
                    width: 100%;
                }
            }

            &:active, &:focus {
            
                &::before {
                    width: 40%;
                }
            }
        }
    }

}

